# Compiled Object files
src/back-end/*.o

# Executables
src/back-end/*.exe

# VSCode specific settings
.vscode/
build/

# CLion specific settings
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-*/

#For Local use
temp/

